<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
 <HEAD>
   <TITLE> [Winpcap-users] Using WinPcap with Visual C++ version 6.
   </TITLE>
   <LINK REL="Index" HREF="index.html" >
   <LINK REL="made" HREF="mailto:winpcap-users%40winpcap.org?Subject=%5BWinpcap-users%5D%20Using%20WinPcap%20with%20Visual%20C%2B%2B%20version%206.&In-Reply-To=C15E58EE6BC84329A6124D2828942F84%40NELSON3">
   <META NAME="robots" CONTENT="index,nofollow">
   <META http-equiv="Content-Type" content="text/html; charset=us-ascii">
   <LINK REL="Previous"  HREF="004190.html">
   <LINK REL="Next"  HREF="004192.html">
 </HEAD>
 <BODY BGCOLOR="#ffffff">
   <H1>[Winpcap-users] Using WinPcap with Visual C++ version 6.</H1>
    <B>Tom Chapman</B> 
    <A HREF="mailto:winpcap-users%40winpcap.org?Subject=%5BWinpcap-users%5D%20Using%20WinPcap%20with%20Visual%20C%2B%2B%20version%206.&In-Reply-To=C15E58EE6BC84329A6124D2828942F84%40NELSON3"
       TITLE="[Winpcap-users] Using WinPcap with Visual C++ version 6.">tchapman131 at gmail.com
       </A><BR>
    <I>Wed Oct 13 10:37:50 PDT 2010</I>
    <P><UL>
        <LI>Previous message: <A HREF="004190.html">[Winpcap-users] Using WinPcap with Visual C++ version 6.
</A></li>
        <LI>Next message: <A HREF="004192.html">[Winpcap-users] Using WinPcap with Visual C++ version 6.
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#4191">[ date ]</a>
              <a href="thread.html#4191">[ thread ]</a>
              <a href="subject.html#4191">[ subject ]</a>
              <a href="author.html#4191">[ author ]</a>
         </LI>
       </UL>
    <HR>  
<!--beginarticle-->
<PRE>The answer I need is: How do I use WinPcap with version 6 Visual C++? The
answer you have given is a generic answer that does not address the fact
that I am working using a standard Visual C++ project. When you work in this
VERY STANDARD AND WELL KNOWN project framework, you do not have easy control
of what gets included where, when and in what order.

I inserted #include &quot;pcap.h&quot; in the project's StdAfx.h. See bottom of this
post. Now I receive a different error that I don't understand. The error
points to a line in pcap-stdinc.h that seems OK to me. The error leads me to
believe that something previous to the tagged line is wrong. I don't
understand the problem here.

Please help me.

----------------------------------------------------------------------------
When I compile the project I receive the following errors:



Deleting intermediate files and output files for project 'Core - Win32
Debug'.
--------------------Configuration: Core - Win32 Debug--------------------
Compiling resources...
Compiling...
StdAfx.cpp
c:\projects\thirdparty\winpcap\pcap-stdinc.h(79) : error C2144: syntax error
:<i> missing ';' before type 'unsigned int'
</I>c:\projects\thirdparty\winpcap\pcap-stdinc.h(79) : fatal error C1004:
unexpected end of file found
Error executing cl.exe.
Creating browse info file...
BSCMAKE: error BK1506 : cannot open file '.\Debug\StdAfx.sbr': No such file
or directory
Error executing bscmake.exe.

----------------------------------------------------------------------------
Below is my stdafx.h include file.I think this is fairly standard.


// stdafx.h : include file for standard system include files,
//  or project specific include files that are used frequently, but
//      are changed infrequently
//

#if !defined(AFX_STDAFX_H__A546186A_092A_4B6A_9008_75C782FFF93B__INCLUDED_)
#define AFX_STDAFX_H__A546186A_092A_4B6A_9008_75C782FFF93B__INCLUDED_

#if _MSC_VER &gt; 1000
#pragma once
#endif // _MSC_VER &gt; 1000

#define _WIN32_WINNT 0x0400
#pragma warning(disable : 4786)

#define VC_EXTRALEAN        // Exclude rarely-used stuff from Windows
headers

#include &lt;afx.h&gt;
#include &quot;pcap.h&quot;
#include &lt;afxwin.h&gt;         // MFC core and standard components
#include &lt;afxext.h&gt;         // MFC extensions
#include &lt;afxdtctl.h&gt;        // MFC support for Internet Explorer 4 Common
Controls
#ifndef _AFX_NO_AFXCMN_SUPPORT
#include &lt;afxcmn.h&gt;            // MFC support for Windows Common Controls
#include &lt;afxsock.h&gt;
#endif // _AFX_NO_AFXCMN_SUPPORT

#include &lt;iostream&gt;

// TODO: reference additional headers your program requires here


//{{AFX_INSERT_LOCATION}}
// Microsoft Visual C++ will insert additional declarations immediately
before the previous line.

#endif //
!defined(AFX_STDAFX_H__A546186A_092A_4B6A_9008_75C782FFF93B__INCLUDED_)


On Wed, Oct 13, 2010 at 10:55 AM, Gianluca Varenni &lt;
<A HREF="https://www.winpcap.org/mailman/listinfo/winpcap-users">gianluca.varenni at cacetech.com</A>&gt; wrote:

&gt;<i>  Tom,
</I>&gt;<i>
</I>&gt;<i> you need to make sure that pcap.h is included before winsock.h
</I>&gt;<i>
</I>&gt;<i> Have a nice day
</I>&gt;<i> GV
</I>&gt;<i>
</I>&gt;<i>  *From:* Tom Chapman &lt;<A HREF="https://www.winpcap.org/mailman/listinfo/winpcap-users">tchapman131 at gmail.com</A>&gt;
</I>&gt;<i> *Sent:* Wednesday, October 13, 2010 8:41 AM
</I>&gt;<i> *To:* <A HREF="https://www.winpcap.org/mailman/listinfo/winpcap-users">winpcap-users at winpcap.org</A>
</I>&gt;<i> *Subject:* [Winpcap-users] Using WinPcap with Visual C++ version 6.
</I>&gt;<i>
</I>&gt;<i> I have an existing MFC project that uses Visual C++ Version 6. I want to
</I>&gt;<i> add WinPcap to this project. In one of my .cpp files, I added #include
</I>&gt;<i> &quot;pcap.h&quot;. When this file is compiled I receive a bunch of compiler errors.
</I>&gt;<i> Apparently WinPcap includes winsock2.h and this conflicts with winsock.h
</I>&gt;<i> that the compiler is already using. I can't find how to make this work. In
</I>&gt;<i> older posts on the web, I have found various &quot;ideas&quot; people have posted as
</I>&gt;<i> possible solutions. Many of these posts are not my exact situation. None of
</I>&gt;<i> these have worked for me.
</I>&gt;<i>
</I>&gt;<i> *How can I get the compiler to work with WinPcap?*
</I>&gt;<i>
</I>&gt;<i> FYI: I have installed the platform SDK Aug 2004 edition. Do I need to
</I>&gt;<i> register this somehow within Visual C++? How? Where in the menus?
</I>&gt;<i>
</I>&gt;<i>
</I>&gt;<i> Thank you for helping me.
</I>&gt;<i>
</I>&gt;<i>
</I>&gt;<i> Below are the first few errors that I receive:
</I>&gt;<i>
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(99) :
</I>&gt;<i> error C2011: 'fd_set' : 'struct' type redefinition
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(134) :
</I>&gt;<i> warning C4005: 'FD_SET' : macro redefinition
</I>&gt;<i>         c:\program files\microsoft visual studio\vc98\include\winsock.h(83)
</I>&gt;<i> : see previous definition of 'FD_SET'
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(143) :
</I>&gt;<i> error C2011: 'timeval' : 'struct' type redefinition
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(199) :
</I>&gt;<i> error C2011: 'hostent' : 'struct' type redefinition
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(212) :
</I>&gt;<i> error C2011: 'netent' : 'struct' type redefinition
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(219) :
</I>&gt;<i> error C2011: 'servent' : 'struct' type redefinition
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(226) :
</I>&gt;<i> error C2011: 'protoent' : 'struct' type redefinition
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(310) :
</I>&gt;<i> error C2011: 'in_addr' : 'struct' type redefinition
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(368) :
</I>&gt;<i> error C2011: 'sockaddr_in' : 'struct' type redefinition
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(378) :
</I>&gt;<i> error C2011: 'WSAData' : 'struct' type redefinition
</I>&gt;<i> c:\program files\microsoft visual studio\vc98\include\winsock2.h(430) :
</I>&gt;<i> warning C4005: 'SO_DONTLINGER' : macro redefinition
</I>&gt;<i>         c:\program files\microsoft visual
</I>&gt;<i> studio\vc98\include\winsock.h(391) : see previous definition of
</I>&gt;<i> 'SO_DONTLINGER'
</I>&gt;<i>
</I>&gt;<i>  ------------------------------
</I>&gt;<i>
</I>&gt;<i> _______________________________________________
</I>&gt;<i> Winpcap-users mailing list
</I>&gt;<i> <A HREF="https://www.winpcap.org/mailman/listinfo/winpcap-users">Winpcap-users at winpcap.org</A>
</I>&gt;<i> <A HREF="https://www.winpcap.org/mailman/listinfo/winpcap-users">https://www.winpcap.org/mailman/listinfo/winpcap-users</A>
</I>&gt;<i>
</I>&gt;<i> _______________________________________________
</I>&gt;<i> Winpcap-users mailing list
</I>&gt;<i> <A HREF="https://www.winpcap.org/mailman/listinfo/winpcap-users">Winpcap-users at winpcap.org</A>
</I>&gt;<i> <A HREF="https://www.winpcap.org/mailman/listinfo/winpcap-users">https://www.winpcap.org/mailman/listinfo/winpcap-users</A>
</I>&gt;<i>
</I>&gt;<i>
</I>-------------- next part --------------
An HTML attachment was scrubbed...
URL: <A HREF="http://www.winpcap.org/pipermail/winpcap-users/attachments/20101013/abdd6983/attachment-0001.htm">http://www.winpcap.org/pipermail/winpcap-users/attachments/20101013/abdd6983/attachment-0001.htm</A> 
</PRE>








<!--endarticle-->
    <HR>
    <P><UL>
        <!--threads-->
	<LI>Previous message: <A HREF="004190.html">[Winpcap-users] Using WinPcap with Visual C++ version 6.
</A></li>
	<LI>Next message: <A HREF="004192.html">[Winpcap-users] Using WinPcap with Visual C++ version 6.
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#4191">[ date ]</a>
              <a href="thread.html#4191">[ thread ]</a>
              <a href="subject.html#4191">[ subject ]</a>
              <a href="author.html#4191">[ author ]</a>
         </LI>
       </UL>

<hr>
<a href="https://www.winpcap.org/mailman/listinfo/winpcap-users">More information about the Winpcap-users
mailing list</a><br>
</body></html>
