/*
Theme Name: WinPcap, WinDump and NTAR
Description: Frontend Template
Version: 1
Author: AldrichArt & Design
Author URI: http://www.aldrichart.com/
Tags:

*/


/* RESET & INIT */

*{ margin: 0; padding: 0; height: auto; }
ul, li{ list-style: none; }
img{ border: none; }
.left{ float: left; left: 0; }
.right{ float: right; right: 0; }
.center{ margin: 0 auto; }
.begin, .end, .break{ clear: both; }


/* LAYOUT */

#wrapper{ width: 895px; margin: 0 auto; }
#header, #main, #footer{ clear: both; }
#logotype, #slogan, .navigation.secondary{  position: absolute; }

#logotype{ margin: 14px 0 0 15px; }
#slogan{ margin: 53px 0 0 369px; }
.navigation.secondary{ margin: 0 0 0 413px; }

#header {
    height: 120px;
}
#header .row.one{ height: 93px; overflow: hidden; }
#header .row.two{
    position: relative;
    z-index: 100;
    height: 27px;
}

#header #searchBar{ float: right; margin: 0 8px 0 0; }

#main{ margin-top: 25px; }


#slogan{ display: block; width: 411px; height: 21px; background: transparent url(../image/slogan.png) 0 0 no-repeat; }
#sf10{ margin: 32px 0 0 416px; display: block; position: absolute; width: 440px; height: 48px; font-size: 0; line-height: 0; }

body{ background: #E6E6E6; }

.clear {clear: both; }


/* TYPOGRAPHY */

body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; }

p, li, span { font-size: 13px; color: #000; font-weight: normal; line-height: 17px; }

a, a:link, a:visited { text-decoration: none; color: #0000FF; }
a:hover { color: #1B9EF3; }

.s_block p, .s_block2 p, .module .content p, #dl_mirrors {
    margin: 0 0 0.8em 0;
    font-size: 12px; line-height: 17px;
}
.module .content .postinfo{ color:#666666 }
.postinfo{ line-height: 14px; }
.title{ font-size: 13px; line-height: 16px; }

.navigation.icon .item a span.t{ color: #0A2990; font-size: 16px; }

.featurelist {list-style: circle; margin-left: 8px; }


/* HIDE TEXT */

#logotype,
#slogan,
.navigation.secondary span,
a.button.learn, a.button.demo, a.button.sdms,
.navigation .item a span.i {
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

.module .heading span,
a.rss span,
a.button b,
.navigation.primary a.firstLevel span {
    display: none;
}

span.hidden { display: none; }

/* ICONS */
a.download-icon{ display: block; height: 160px; width: 125px; background: transparent url(../image/winpcap/icon_get_winpcap.png) 0 0 no-repeat; }
  a.download-icon:hover{ background-position: 0 -160px; }
a.download-icon span{ display: none; background: transparent url(../image/winpcap/icon_get_winpcap.png) 0 0 no-repeat; }

a.download-iconNTAR{ display: block; height: 160px; width: 125px; background: transparent url(../image/ntar/icon_get_ntar.png) 0 0 no-repeat; }
  a.download-iconNTAR:hover{ background-position: 0 -160px; }
a.download-iconNTAR span{ display: none; background: transparent url(../image/ntar/icon_get_ntar.png) 0 0 no-repeat; }

a.download-iconWinDump{ display: block; height: 160px; width: 125px; background: transparent url(../image/windump/icon_get_windump.png) 0 0 no-repeat; }
  a.download-iconWinDump:hover{ background-position: 0 -160px; }
a.download-iconWinDump span{ display: none; background: transparent url(../image/windump/icon_get_windump.png) 0 0 no-repeat; }

a.download-iconDev{ display: block; height: 160px; width: 125px; background: transparent url(../image/winpcap/icon_get_winpcap_dev.png) 0 0 no-repeat; }
  a.download-iconDev:hover{ background-position: 0 -160px; }
a.download-iconDev span{ display: none; background: transparent url(../image/winpcap/icon_get_winpcap_dev.png) 0 0 no-repeat; }

a.download-iconSource{ display: block; height: 160px; width: 125px; background: transparent url(../image/winpcap/icon_get_winpcap_source.png) 0 0 no-repeat; }
  a.download-iconSource:hover{ background-position: 0 -160px; }
a.download-iconSource span{ display: none; background: transparent url(../image/winpcap/icon_get_winpcap_source.png) 0 0 no-repeat; }

/* NAVIGATION */

.navigation.horizontal li{ float: left; display: inline; }

.navigation.secondary a{ height: 21px; display: block; }

.navigation.primary a{ font-size: 15px; color: #282828; font-weight: bold; padding:0.75em 1em; }
.navigation.primary .remark a{ color: #0B7197; }
.navigation.primary a:hover{ color: #00AAFF; }

.navigation.primary ul a{ padding-top: 5px; padding-bottom: 5px; }

.navigation.primary a.firstLevel{ height: 27px; overflow: hidden; display: block; background: transparent; border: 0; margin: 0 2px 0 0; padding: 0; }
.navigation.primary .item{ height: 27px; background: transparent url(../image/nav_1_separator.png) right center no-repeat; }
.navigation.primary .item.last{ background: transparent; margin: 0; }

.navigation.icon{ background: transparent url(../image/nav_icon_back.png) 0 0 repeat-x; height: 188px; clear: both; display: block; }
.navigation.icon li.begin, .navigation.icon li.end{ height: 188px; width: 2px; display: inline; float: left; clear: none; }
.navigation.icon li.begin{ background: transparent url(../image/nav_icon_left.png) 0 0 no-repeat; }
.navigation.icon li.end{ background: transparent url(../image/nav_icon_right.png) 0 0 no-repeat; float: right; }

.navigation.icon .item, .navigation.icon .item *{ width: 297px; z-index: 1; position: relative; }
.navigation.icon .item a *{ text-align: center; }
.navigation.icon .item a span{ display: block; }
.navigation.icon .item a span.i{ display: block; height: 140px; margin-top: 18px; }
.navigation.icon .item a span.i2{ display: block; height: 140px; margin-top: 18px; }
.navigation.icon .item a span.i3{ display: block; height: 140px; margin-top: 18px; }
.navigation.icon .item a span.t{ margin-top: 2px; }
.navigation.icon .item a span span{ display: none; }

.navigation.icon .item.navDownload a span.i{ width: 172px; margin-left: 64px;  background: transparent url(../image/icons.png) 0 0 no-repeat; }
.navigation.icon .item.navDownload a:hover span.i{ background: transparent url(../image/icons.png) -172px 0 no-repeat; }

.navigation.icon .item.navLearn a span.i{ width: 134px; margin-left: 80px; background: transparent url(../image/icons.png) -344px 0 no-repeat; }
.navigation.icon .item.navLearn a:hover span.i{ background: transparent url(../image/icons.png) -478px 0 no-repeat; }

.navigation.icon .item.navEnhance a span.i{ width: 160px; margin-left: 70px; background: transparent url(../image/icons.png) -612px 0 no-repeat; }
.navigation.icon .item.navEnhance a:hover span.i{ background: transparent url(../image/icons.png) -772px 0 no-repeat; }


/* FORMS */

.textbox{ font-size: 13px; }
.button{ cursor: pointer; }
.button.likeimage{ border: 0; font-size: 0; text-indent: -200%; line-height: 0; }
#searchBar *{ float: left; display: inline; margin-top: 2px; }
#searchBar .textbox{ height: 14px; line-height: 19px; padding: 0; }
#searchBar .button.submit{ height: 19px; width: 57px; margin-left: 10px; background: transparent url(../image/btn_search.png) 0 0 no-repeat; }


/* FOOTER */

#footer{ border-top: 1px solid #D4D4D4; margin-top: 16px; }
#footer p{ line-height: 30px; color: #8A8A8A; text-align: center; margin-bottom: 3px; }


/* TYPES */

a.rss{ background: transparent url(../image/rss.gif) 0 0 no-repeat; height: 16px; width: 16px; display: block; }
a.more{ float: none; display: block; margin-top: 20px; }
.postinfo{ margin-bottom: 16px; }
.title img{ float: right; margin: 4px 0 0 20px; }
img.videoMain{ margin: 0 0 10px 0; }
img.left{ margin: 3px 5px 0 0; }
img.right{ margin: 3px 0 5px; }
.record{ margin-bottom: 2em; }
.record.last{ margin: 0; }
a.button.learn, a.button.demo, a.button.sdms{ height: 19px; display: block; margin-top: 15px; }
.button.learn{ width: 67px; background: transparent url(../image/btn_learn.gif) 0 0 no-repeat; }
.button.sdms{ width: 104px; background: transparent url(../image/btn_sdms.gif) 0 0 no-repeat; }
.button.demo{ width: 217px; background: transparent url(../image/btn_demo.gif) 0 0 no-repeat; }

/* COLUMNS */

.cols{ width: 915px; margin: 0 auto;}
.cols .col{ float: left; display: inline; margin-right: 12px; }
.cols.thirds .col.second{ margin-right: 13px; }
.cols .col.last{ margin-right: 0; }
.cols.thirds{ /* background: transparent url(../image/cols_thirds_repeat.png */) 0 0 repeat-y; }
.cols.mixed2and1{ /* background: transparent url(../image/cols_2_1_repeat.png */) 0 0 repeat-y; }
.cols .end{ height: 5px; line-height: 5px; overflow: hidden; }
.cols.thirds .end{ /* background: transparent url(../image/cols_thirds_end.png */) 0 0 no-repeat; }
.cols.mixed2and1 .end{ /* background: transparent url(../image/cols_2_1_end.png */) 0 0 no-repeat; }
.cols.thirds .col, .cols .col.ratio1of3, .col.third{ width: 48%; }
.cols .col.ratio2of3{ width: 97.5%; }
.cols.thirds .col .break, .cols .col.third .break, .cols .col.ratio1of3 .break{ background: #E6E6E6 url(../image/col_third_break.png) 0 0 no-repeat; height: 28px; line-height: 28px; overflow: hidden; }

/* FIX */
.cols.mixed2and1 .third .end{/* background: transparent url(../image/cols_thirds_end.png */) 0 0 no-repeat; }


/* MODULES */

.module .content{ margin: 0; padding: 1.2em 1em 1.2em 1em; background: #fff; }
.module .heading{ border-bottom: 1px solid #0A2990; height: 26px; }
.module.videos .heading{ background: transparent url(../image/h_videos.png) 0 0 no-repeat; }
.module.training .heading{ background: transparent url(../image/h_training.png) 0 0 no-repeat; }
.module.enhancements .heading{ background: transparent url(../image/h_enhancements.png) 0 0 no-repeat; }
.module.newsAndEvents .heading{ background: transparent url(../image/h_newsandevents.png) 0 0 no-repeat; }
.module.wiresharkBlog .heading{ background: transparent url(../image/h_wiresharkblog.png) 0 0 no-repeat; }
.module.latestRelease .heading{ background: transparent url(../image/h_latestrelease.png) 0 0 no-repeat; }
.module.download .heading{ background: transparent url(../image/h_download.png) 0 0 no-repeat; }
.module.aboutWireshark .heading{ background: transparent url(../image/h_aboutwireshark.png) 0 0 no-repeat; }
.module.faq .heading{ background: transparent url(../image/h_faq.png) 0 0 no-repeat; }
.module.mailingList .heading{ background: transparent url(../image/h_mailinglist.png) 0 0 no-repeat; }
.module.onlineTools .heading{ background: transparent url(../image/h_onlinetools.png) 0 0 no-repeat; }
.module.getInvolved .heading{ background: transparent url(../image/h_getinvolved.png) 0 0 no-repeat; }
.module.thirdparty .heading{ background: transparent url(../image/h_thirdparty.png) 0 0 no-repeat; }
.module.moreResources .heading{ background: transparent url(../image/h_moreresoures.png) 0 0 no-repeat; }
.module.userDocs .heading{ background: transparent url(../image/h_userdocs.png) 0 0 no-repeat; }
.module.devDocs .heading{ background: transparent url(../image/h_devdocs.png) 0 0 no-repeat; }
.module a.rss{ float: right; display: inline; margin: 6px 8px 0 0; }


/* BODY */

/* GLOBALS */

p {
    margin:0px;
    padding:0px;
}

h1, h2, h3, h4 {
    margin:0px;
    padding:0px;
    font-weight:bold;
}

h1
{
    font-size:17px;
    line-height:19px;
}

h2
{
    font-size:16px;
    line-height:18px;
	margin: 10px 0;
}

h1+h2, h2+h3, h3+h4 {
    margin-top: 9px;
}

h3
{
    font-size:14px;
    line-height:16px;
}

h6
{
    font-size:12px;
	line-height: 16px;
	color: #8A8A8A;
	text-align: center;
	margin-bottom: 3px;
	font-weight:400;
}

img {
    border: 0px;
}

.st {
    text-decoration: line-through;
}
DT {
	margin: 10px 0 0;
}
DD {
	margin: 0 0 0 20px;
}


/* SEARCH BOX */

#searchbox form {
    margin: 0;
}

/* FAQ */
.Q, .A {
	font-size: 18px;
	font-weight:bold;
}

/* ENHANCEMENTS COLUMN */

.enhancementBox {
	background-color:#FFFFCC;
	margin: 10px 0 10px 0;
	padding: 8px;
	border: 1px solid #666666;
	position: relative;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.featurelistEnhancements {list-style: circle; margin-left: -20px; }
