/*
Theme Name: WinPcap, WinDump and NTAR
Description: Frontend Template
Version: 1
Author: AldrichArt & Design
Author URI: http://www.aldrichart.com/
Tags: None

*/

#main{ margin-top: 0; }

.navigation.icon{ margin-bottom: 25px; }

#wrapper .banner{ text-align: center; }
  #wrapper .banner a{ display: block; clear: both; }
    #wrapper .banner a img{ margin: 10px 0; }
	
.NObanner {margin: 10px 0; }	

.cols.mixed2and1 .end{ /* background: #e6e6e6 url(../image/cols_2_1_end.png) no-repeat scroll 0 0 */; height: 15px; }

.sf-menu a,.sf-menu a:visited{ color: #282828; }
.module .content .postinfo{ color: #000; font-size: 14px; font-weight: bold; margin-bottom: 0; }
.module .content .title{ font-weight: normal; }

img.right{ margin-left: 10px; }

.content ul, .content ol{ margin-left: 35px; margin-bottom: 20px; }
.content ul li{ list-style: disc; }
.content ol li{ list-style: decimal; }

.content.highlighted{ background: #acccf6; }

.w130{ width: 130px; }


/* WINPCAP STYLE */

#header{ background:url(../image/winpcap/header.png) no-repeat scroll 0 0 transparent; }

.navigation.primary .item a.firstLevel{ background: transparent url(../image/winpcap/nav_1.png) 0 0 no-repeat; }
.navigation.secondary a{ background: transparent url(../image/winpcap/nav_2.png) 0 0 no-repeat; }

.navigation.secondary #navRiverbed a{ width: 136px; background-position: 0 0; }
.navigation.secondary #navWireshark a{ width: 75px; background-position: -136px 0; }

.navigation.secondary #navRiverbed a:hover{ background-position: 0 -21px; }
.navigation.secondary #navWireshark a:hover{ background-position: -136px -21px; }

.navigation.primary .item.navWinPcap a.firstLevel{ width: 130px; }
.navigation.primary .item.navWinDump a.firstLevel{ width: 136px; background-position: -131px 0; }
.navigation.primary .item.navNTAR a.firstLevel{ width: 102px; background-position: -270px 0; }
.navigation.primary .item.navWinPcapPro a.firstLevel{ width: 161px; background-position: -374px 0; }

.navigation.primary .item.navWinPcap a.firstLevel:hover{ background-position: -535px 0; }
.navigation.primary .item.navWinDump a.firstLevel:hover{ background-position: -666px 0; }
.navigation.primary .item.navNTAR a.firstLevel:hover{ background-position: -805px 0; }
.navigation.primary .item.navWinPcapPro a.firstLevel:hover{ background-position: -909px 0; }

.navigation.primary a:hover{ color: #009900; }

.navigation.icon .item, .navigation.icon .item *{ width: 296px; }

.navigation.icon{ background:url(../image/winpcap/nav_icon_back.png) repeat-x scroll 0 0 transparent; }
.navigation.icon li.begin{ background: url(../image/winpcap/nav_icon_left.png) no-repeat scroll 0 0 transparent; }
#wrapper .navigation.icon li.end{ background: url(../image/winpcap/nav_icon_right.png) no-repeat scroll 0 0 transparent; margin: 0; width: 2px; overflow: hidden; }

#wrapper .navigation.icon .item a span.i{ background: transparent url(../image/winpcap/icons.png) 0 0 no-repeat; }

#wrapper .navigation.icon .item.navDownload a span.i{ width: 130px; margin-left: 91px; }
#wrapper .navigation.icon .item.navDownload a:hover span.i{ background-position: 0 -143px; }

#wrapper .navigation.icon .item.navSupport a span.i{ width: 236px; margin-left: 30px; background-position: -131px 0; }
#wrapper .navigation.icon .item.navSupport a:hover span.i{ background-position: -131px -143px; }

#wrapper .navigation.icon .item.navDocs a span.i{ width: 171px; margin-left: 66px; background-position: -368px 0; }
#wrapper .navigation.icon .item.navDocs a:hover span.i{ background-position: -368px -143px; }

#wrapper .navigation.icon .item a span.t{ color: #003beb; font-size: 16px; letter-spacing: -.2px; }

#wrapper #searchBar .button.submit{ background: transparent url(../image/winpcap/btn_search.png) 0 0 no-repeat; }

.module.introductionToWinPcap .heading{ background: transparent url(../image/winpcap/h_introductiontowinpcap.png) 0 0 no-repeat; }
.module.newsAndReleases .heading{ background: transparent url(../image/winpcap/h_newsandreleases.png) 0 0 no-repeat; }
.module.communitySupport .heading{ background: transparent url(../image/winpcap/h_communitysupport.png) 0 0 no-repeat; }
.module.commercialSupport .heading{ background: transparent url(../image/winpcap/h_commercialsupport.png) 0 0 no-repeat; }
.module.downloadForWindows .heading{ background: transparent url(../image/winpcap/h_downloadforwindows.png) 0 0 no-repeat; }
.module.downloadForWindowsCe .heading{ background: transparent url(../image/winpcap/h_downloadforwindowsce.png) 0 0 no-repeat; }
.module.News .heading{ background: transparent url(../image/winpcap/h_news.png) 0 0 no-repeat; }
.module.Developer .heading{ background: transparent url(../image/winpcap/h_developer.png) 0 0 no-repeat; }
.module.Bugs .heading{ background: transparent url(../image/winpcap/h_bugs.png) 0 0 no-repeat; }
.module.Calculators .heading{ background: transparent url(../image/winpcap/h_calculators.png) 0 0 no-repeat; }
.module.Sponsors .heading{ background: transparent url(../image/winpcap/h_sponsors.png) 0 0 no-repeat; }
.module.Contributors .heading{ background: transparent url(../image/winpcap/h_contributors.png) 0 0 no-repeat; }
.module.otherContributors .heading{ background: transparent url(../image/winpcap/h_othercontributors.png) 0 0 no-repeat; }
.module.ChangeLog .heading{ background: transparent url(../image/winpcap/h_changelog.png) 0 0 no-repeat; }
.module.License .heading{ background: transparent url(../image/winpcap/h_license.png) 0 0 no-repeat; }
.module.FAQ .heading{ background: transparent url(../image/winpcap/h_faq.png) 0 0 no-repeat; }
.module.Features .heading{ background: transparent url(../image/winpcap/h_features.png) 0 0 no-repeat; }
.module.Links .heading{ background: transparent url(../image/winpcap/h_links.png) 0 0 no-repeat; }
.module.Mirrors .heading{ background: transparent url(../image/winpcap/h_mirrors.png) 0 0 no-repeat; }
.module.Documentation .heading{ background: transparent url(../image/winpcap/h_documentation.png) 0 0 no-repeat; }
.module.Download .heading{ background: transparent url(../image/winpcap/h_download.png) 0 0 no-repeat; }

#logotype{ margin: 33px 0 0 56px; }
#logotype a{ display: block; width: 179px; height: 48px; background: transparent url(../image/winpcap/logotype.png) 0 0 no-repeat; }
#slogan{ width: 467px; margin-left: 280px; background: transparent url(../image/winpcap/slogan.png) 0 0 no-repeat;  }

#wrapper .navigation.primary .item{ background: transparent url(../image/winpcap/nav_1_separator.png) right center no-repeat; }




/* WINDUMP STYLE */

#wrapper .navigation.icon .item a span.i2{ background: transparent url(../image/windump/icons.png) 0 0 no-repeat; }

#wrapper .navigation.icon .item.navDownload a span.i2{ width: 130px; margin-left: 92px; }
#wrapper .navigation.icon .item.navDownload a:hover span.i2{ background-position: 0 -143px; }

#wrapper .navigation.icon .item.navSupport a span.i2{ width: 236px; margin-left: 36px; background-position: -131px 0; }
#wrapper .navigation.icon .item.navSupport a:hover span.i2{ background-position: -131px -143px; }

#wrapper .navigation.icon .item.navDocs a span.i2{ width: 171px; margin-left: 60px; background-position: -368px 0; }
#wrapper .navigation.icon .item.navDocs a:hover span.i2{ background-position: -368px -143px; }




.windumpTheme #header{ background:url(../image/windump/header.png) no-repeat scroll 0 0 transparent; }

.windumpTheme .navigation.primary .item a.firstLevel{ background: transparent url(../image/windump/nav_1.png) 0 0 no-repeat; }
.windumpTheme .navigation.secondary a{ background: transparent url(../image/windump/nav_2.png) 0 0 no-repeat; }

.windumpTheme .navigation.secondary #navRiverbed a{ width: 136px; background-position: 0 0; }
.windumpTheme .navigation.secondary #navWireshark a{ width: 75px; background-position: -136px 0; }

.windumpTheme .navigation.secondary #navRiverbed a:hover{ background-position: 0 -21px; }
.windumpTheme .navigation.secondary #navWireshark a:hover{ background-position: -136px -21px; }

.windumpTheme .navigation.primary .item.navWinPcap a.firstLevel{ width: 130px; }
.windumpTheme .navigation.primary .item.navWinDump a.firstLevel{ width: 136px; background-position: -131px 0; }
.windumpTheme .navigation.primary .item.navNTAR a.firstLevel{ width: 102px; background-position: -270px 0; }
.windumpTheme .navigation.primary .item.navWinPcapPro a.firstLevel{ width: 161px; background-position: -374px 0; }

.windumpTheme .navigation.primary .item.navWinPcap a.firstLevel:hover{ background-position: -535px 0; }
.windumpTheme .navigation.primary .item.navWinDump a.firstLevel:hover{ background-position: -666px 0; }
.windumpTheme .navigation.primary .item.navNTAR a.firstLevel:hover{ background-position: -805px 0; }
.windumpTheme .navigation.primary .item.navWinPcapPro a.firstLevel:hover{ background-position: -909px 0; }

.windumpTheme .navigation.primary a:hover{ color: #993399; }

.windumpTheme #wrapper #searchBar .button.submit{ background: transparent url(../image/windump/btn_search.png) 0 0 no-repeat; }

.windumpTheme #logotype{ margin: 33px 0 0 56px; }
.windumpTheme #logotype a{ display: block; width: 179px; height: 48px; background: transparent url(../image/windump/logotype.png) 0 0 no-repeat; }
.windumpTheme #slogan{ width: 322px; margin-left: 357px; background: transparent url(../image/windump/slogan.png) 0 0 no-repeat;  }

.windumpTheme #wrapper .navigation.primary .item{ background: transparent url(../image/windump/nav_1_separator.png) right center no-repeat; }

.module.winDumpOverview .heading{ background: transparent url(../image/windump/h_windumpoverview.png) 0 0 no-repeat; }
.module.winDumpLicense .heading{ background: transparent url(../image/windump/h_windumplicense.png) 0 0 no-repeat; }
.module.winDumpContributors .heading{ background: transparent url(../image/windump/h_windumpcontributors.png) 0 0 no-repeat; }
.module.winDumpChangeLog .heading{ background: transparent url(../image/windump/h_windumpchangelog.png) 0 0 no-repeat; }
.module.winDumpFAQ .heading{ background: transparent url(../image/windump/h_windumpfaq.png) 0 0 no-repeat; }
.module.winDumpSupport .heading{ background: transparent url(../image/windump/h_windumpsupport.png) 0 0 no-repeat; }
.module.winDumpNews .heading{ background: transparent url(../image/windump/h_windumpnews.png) 0 0 no-repeat; }
.module.winDumpDocs .heading{ background: transparent url(../image/windump/h_windumpdocs.png) 0 0 no-repeat; }
.module.winDumpCompile .heading{ background: transparent url(../image/windump/h_windumpcompile.png) 0 0 no-repeat; }
.module.winDumpManual .heading{ background: transparent url(../image/windump/h_windumpmanual.png) 0 0 no-repeat; }
.module.winDumpDownload .heading{ background: transparent url(../image/windump/h_windumpdownloadwin.png) 0 0 no-repeat; }

/* NTAR STYLE */

#wrapper .navigation.icon .item a span.i3{ background: transparent url(../image/ntar/icons.png) 0 0 no-repeat; }

#wrapper .navigation.icon .item.navDownload a span.i3{ width: 130px; margin-left: 93px; }
#wrapper .navigation.icon .item.navDownload a:hover span.i3{ background-position: 0 -143px; }

#wrapper .navigation.icon .item.navDocs a span.i3{ width: 236px; margin-left: 31px; background-position: -131px 0; }
#wrapper .navigation.icon .item.navDocs a:hover span.i3{ background-position: -131px -143px; }

#wrapper .navigation.icon .item.navSpecs a span.i3{ width: 171px; margin-left: 67px; background-position: -368px 0; }
#wrapper .navigation.icon .item.navSpecs a:hover span.i3{ background-position: -368px -143px; }



.ntarTheme #header{ background:url(../image/ntar/header.png) no-repeat scroll 0 0 transparent; }

.ntarTheme .navigation.primary .item a.firstLevel{ background: transparent url(../image/ntar/nav_1.png) 0 0 no-repeat; }
.ntarTheme .navigation.secondary a{ background: transparent url(../image/ntar/nav_2.png) 0 0 no-repeat; }

.ntarTheme .navigation.secondary #navRiverbed a{ width: 136px; background-position: 0 0; }
.ntarTheme .navigation.secondary #navWireshark a{ width: 75px; background-position: -136px 0; }

.ntarTheme .navigation.secondary #navRiverbed a:hover{ background-position: 0 -21px; }
.ntarTheme .navigation.secondary #navWireshark a:hover{ background-position: -136px -21px; }

.ntarTheme .navigation.primary .item.navWinPcap a.firstLevel{ width: 130px; }
.ntarTheme .navigation.primary .item.navWinDump a.firstLevel{ width: 136px; background-position: -131px 0; }
.ntarTheme .navigation.primary .item.navNTAR a.firstLevel{ width: 102px; background-position: -270px 0; }
.ntarTheme .navigation.primary .item.navWinPcapPro a.firstLevel{ width: 161px; background-position: -374px 0; }

.ntarTheme .navigation.primary .item.navWinPcap a.firstLevel:hover{ background-position: -535px 0; }
.ntarTheme .navigation.primary .item.navWinDump a.firstLevel:hover{ background-position: -666px 0; }
.ntarTheme .navigation.primary .item.navNTAR a.firstLevel:hover{ background-position: -805px 0; }
.ntarTheme .navigation.primary .item.navWinPcapPro a.firstLevel:hover{ background-position: -909px 0; }

.ntarTheme .navigation.primary a:hover{ color: #cc0000; }

.ntarTheme #wrapper #searchBar .button.submit{ background: transparent url(../image/ntar/btn_search.png) 0 0 no-repeat; }

.ntarTheme #logotype{ margin: 31px 0 0 86px; }
.ntarTheme #logotype a{ display: block; width: 102px; height: 44px; background: transparent url(../image/ntar/logotype.png) 0 0 no-repeat; }
.ntarTheme #slogan{ width: 381px; margin-left: 329px; background: transparent url(../image/ntar/slogan.png) 0 0 no-repeat;  }

.ntarTheme #wrapper .navigation.primary .item{ background: transparent url(../image/ntar/nav_1_separator.png) right center no-repeat; }

.module.ntarIntro .heading{ background: transparent url(../image/ntar/h_ntarintro.png) 0 0 no-repeat; }
.module.ntarCredits .heading{ background: transparent url(../image/ntar/h_ntarcredits.png) 0 0 no-repeat; }
.module.ntarCopyright .heading{ background: transparent url(../image/ntar/h_ntarcopyright.png) 0 0 no-repeat; }
.module.ntarDocumentation .heading{ background: transparent url(../image/ntar/h_ntardocumentation.png) 0 0 no-repeat; }
.module.ntarDownload .heading{ background: transparent url(../image/ntar/h_ntardownload.png) 0 0 no-repeat; }
.module.ntarChangelog .heading{ background: transparent url(../image/ntar/h_ntarchangelog.png) 0 0 no-repeat; }

#wrapper .navigation.primary .item.last{ background: transparent; }