body {
    font-family: Bitstream Vera Sans Mono, Consolas, Lucida Console, monospace;
    font-size:12px;
    background: white;
    color: black;
    /* background-image: url(/image/wsbadge64.png);
    background-position: 96% 13px;
    background-repeat: no-repeat; */
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    line-height:26px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	vertical-align: middle;
	border: 0;
}
