<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
 <HEAD>
   <TITLE> [pcap-ng-format] draft-gharris-opsawg-pcap.txt --- IANA	considerations
   </TITLE>
   <LINK REL="Index" HREF="index.html" >
   <LINK REL="made" HREF="mailto:pcap-ng-format%40winpcap.org?Subject=Re%3A%20%5Bpcap-ng-format%5D%20draft-gharris-opsawg-pcap.txt%20---%20IANA%0A%09considerations&In-Reply-To=%3C31379.1608601870%40localhost%3E">
   <META NAME="robots" CONTENT="index,nofollow">
   <style type="text/css">
       pre {
           white-space: pre-wrap;       /* css-2.1, curent FF, Opera, Safari */
           }
   </style>
   <META http-equiv="Content-Type" content="text/html; charset=utf-8">
   <LINK REL="Previous"  HREF="000470.html">
   <LINK REL="Next"  HREF="000472.html">
 </HEAD>
 <BODY BGCOLOR="#ffffff">
   <H1>[pcap-ng-format] draft-gharris-opsawg-pcap.txt --- IANA	considerations</H1>
    <B>Michael Richardson</B> 
    <A HREF="mailto:pcap-ng-format%40winpcap.org?Subject=Re%3A%20%5Bpcap-ng-format%5D%20draft-gharris-opsawg-pcap.txt%20---%20IANA%0A%09considerations&In-Reply-To=%3C31379.1608601870%40localhost%3E"
       TITLE="[pcap-ng-format] draft-gharris-opsawg-pcap.txt --- IANA	considerations">mcr+ietf at sandelman.ca
       </A><BR>
    <I>Tue Dec 22 01:51:10 UTC 2020</I>
    <P><UL>
        <LI>Previous message (by thread): <A HREF="000470.html">[pcap-ng-format] draft-gharris-opsawg-pcap.txt --- FCS length	description
</A></li>
        <LI>Next message (by thread): <A HREF="000472.html">[pcap-ng-format] draft-gharris-opsawg-pcap.txt --- IANA considerations
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#471">[ date ]</a>
              <a href="thread.html#471">[ thread ]</a>
              <a href="subject.html#471">[ subject ]</a>
              <a href="author.html#471">[ author ]</a>
         </LI>
       </UL>
    <HR>  
<!--beginarticle-->
<PRE>
The short of it is:

1) reserve bits 16:28 of linktype as zero.
2) lower 32K Specification Required (any document),
   upper 32K First Come First Served

Details:
  The Registry has three sections according to {{RFC8126}}:
  * values from 0 to 32767 are marked as Specification Required.
  *   except that values 147 to 162 are reserved for Private Use
  * values from 32768 to 65000 are marked as First-Come First-Served.
  * values from 65000 to 65536 are marked as Private Use.

3) I have included the tcpdump.org linktype database that we maintain.
   It might be a week old, but I don't think we've allocated anything
   in the past month.
   It is at: <A HREF="http://www.tcpdump.org/linktypes.html">http://www.tcpdump.org/linktypes.html</A>
   Some entries have further links under /linktypes/... which we could
   enter as the correct reference.
   There are 112 entries.
   It may be that we should do something different for initializing IANA.

I did some editing of the description field to shorten in a lot, but I got
tired about 30% through the list, not sure if we should even include that
column.
There are many entries like:
   LINKTYPE_PPP_ETHER                  |   51   |PPPoE; per RFC 2516

where I think that maybe this should point directly at RFC2516.
I'm not entirely sure about this.

Where this gets more complex is:
   LINKTYPE_PPP_WITH_DIR	204	DLT_PPP_WITH_DIR	PPP, as per
   RFC 1661 and RFC 1662, preceded with a one-byte pseudo-header with a zero
   value meaning &quot;received by this host&quot; and a non-zero value meaning &quot;sent
   by this host&quot;; if the first 2 bytes are 0xff and 0x03, it's PPP in
   HDLC-like framing, with the PPP header following those two bytes,
   otherwise it's PPP without framing, and the packet begins with the PPP
   header. The data in the frame is not octet-stuffed or bit-stuffed.

in this case, the text in linktypes.html is probably most appropriate.


Name:		draft-gharris-opsawg-pcap
Revision:	01
Title:		PCAP Capture File Format
Document date:	2020-12-22
Group:		Individual Submission
Pages:		29
URL:            <A HREF="https://www.ietf.org/archive/id/draft-gharris-opsawg-pcap-01.txt">https://www.ietf.org/archive/id/draft-gharris-opsawg-pcap-01.txt</A>
Status:         <A HREF="https://datatracker.ietf.org/doc/draft-gharris-opsawg-pcap/">https://datatracker.ietf.org/doc/draft-gharris-opsawg-pcap/</A>
Html:           <A HREF="https://www.ietf.org/archive/id/draft-gharris-opsawg-pcap-01.html">https://www.ietf.org/archive/id/draft-gharris-opsawg-pcap-01.html</A>
Htmlized:       <A HREF="https://tools.ietf.org/html/draft-gharris-opsawg-pcap-01">https://tools.ietf.org/html/draft-gharris-opsawg-pcap-01</A>
Diff:           <A HREF="https://www.ietf.org/rfcdiff?url2=draft-gharris-opsawg-pcap-01">https://www.ietf.org/rfcdiff?url2=draft-gharris-opsawg-pcap-01</A>


--
Michael Richardson &lt;<A HREF="https://www.winpcap.org/mailman/listinfo/pcap-ng-format">mcr+IETF at sandelman.ca</A>&gt;   . o O ( IPv6 IøT consulting )
           Sandelman Software Works Inc, Ottawa and Worldwide




</PRE>


<!--endarticle-->
    <HR>
    <P><UL>
        <!--threads-->
	<LI>Previous message (by thread): <A HREF="000470.html">[pcap-ng-format] draft-gharris-opsawg-pcap.txt --- FCS length	description
</A></li>
	<LI>Next message (by thread): <A HREF="000472.html">[pcap-ng-format] draft-gharris-opsawg-pcap.txt --- IANA considerations
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#471">[ date ]</a>
              <a href="thread.html#471">[ thread ]</a>
              <a href="subject.html#471">[ subject ]</a>
              <a href="author.html#471">[ author ]</a>
         </LI>
       </UL>

<hr>
<a href="https://www.winpcap.org/mailman/listinfo/pcap-ng-format">More information about the pcap-ng-format
mailing list</a><br>
</body></html>
