<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
 <HEAD>
   <TITLE> [pcap-ng-format] [OPSAWG] draft-gharris-opsawg-pcap.txt ---	IANA considerations
   </TITLE>
   <LINK REL="Index" HREF="index.html" >
   <LINK REL="made" HREF="mailto:pcap-ng-format%40winpcap.org?Subject=Re%3A%20%5Bpcap-ng-format%5D%20%5BOPSAWG%5D%20draft-gharris-opsawg-pcap.txt%20---%0A%09IANA%20considerations&In-Reply-To=%3C31989.1608654962%40localhost%3E">
   <META NAME="robots" CONTENT="index,nofollow">
   <style type="text/css">
       pre {
           white-space: pre-wrap;       /* css-2.1, curent FF, Opera, Safari */
           }
   </style>
   <META http-equiv="Content-Type" content="text/html; charset=utf-8">
   <LINK REL="Previous"  HREF="000472.html">
   <LINK REL="Next"  HREF="000483.html">
 </HEAD>
 <BODY BGCOLOR="#ffffff">
   <H1>[pcap-ng-format] [OPSAWG] draft-gharris-opsawg-pcap.txt ---	IANA considerations</H1>
    <B>Michael Richardson</B> 
    <A HREF="mailto:pcap-ng-format%40winpcap.org?Subject=Re%3A%20%5Bpcap-ng-format%5D%20%5BOPSAWG%5D%20draft-gharris-opsawg-pcap.txt%20---%0A%09IANA%20considerations&In-Reply-To=%3C31989.1608654962%40localhost%3E"
       TITLE="[pcap-ng-format] [OPSAWG] draft-gharris-opsawg-pcap.txt ---	IANA considerations">mcr+ietf at sandelman.ca
       </A><BR>
    <I>Tue Dec 22 16:36:02 UTC 2020</I>
    <P><UL>
        <LI>Previous message (by thread): <A HREF="000472.html">[pcap-ng-format] draft-gharris-opsawg-pcap.txt --- IANA considerations
</A></li>
        <LI>Next message (by thread): <A HREF="000483.html">[pcap-ng-format] [OPSAWG] draft-gharris-opsawg-pcap.txt --- IANA considerations
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#478">[ date ]</a>
              <a href="thread.html#478">[ thread ]</a>
              <a href="subject.html#478">[ subject ]</a>
              <a href="author.html#478">[ author ]</a>
         </LI>
       </UL>
    <HR>  
<!--beginarticle-->
<PRE>
&lt;#secure method=pgp mode=sign&gt;

Guy Harris &lt;<A HREF="https://www.winpcap.org/mailman/listinfo/pcap-ng-format">guy at alum.mit.edu</A>&gt; wrote:
    &gt;&gt; The short of it is:
    &gt;&gt;
    &gt;&gt; 1) reserve bits 16:28 of linktype as zero.

    &gt; In pcap files, presumably; you have only bits 0:15 in pcapng IDBs.

Yes.  That's why I changed the illustration of the packet so that only 16
bits were in the LinkType.

    &gt; Note that the registry is for both pcap and pcapng, so the specs should say that.

    &gt;&gt; 2) lower 32K Specification Required (any document),
    &gt;&gt; upper 32K First Come First Served
    &gt;&gt;
    &gt;&gt; Details:
    &gt;&gt; The Registry has three sections according to {{RFC8126}}:
    &gt;&gt; * values from 0 to 32767 are marked as Specification Required.
    &gt;&gt; *   except that values 147 to 162 are reserved for Private Use
    &gt;&gt; * values from 32768 to 65000 are marked as First-Come First-Served.
    &gt;&gt; * values from 65000 to 65536 are marked as Private Use.

    &gt; Presumably &quot;to 65535&quot; - 65536 doesn't fit in the 16-bit pcapng field.

Oops.

    &gt; So, for FCFS, does that mean anybody who wants a linktype can just grab one?

Yes, but it's not quite the free-for-all one might imagine.
They have to email IANA and there are some records kept.
IANA does do some amount of abuse control.

I've re-read RFC8726, in case we want to send pcap via the ISE, as OPSAWG is
very slow to adopt documents.   The short of it is that we *CAN* create
Registries on the Independent Stream Editor Q.
  <A HREF="https://www.rfc-editor.org/about/independent/">https://www.rfc-editor.org/about/independent/</A>

But, we can not create Specification Required registries as that requires
assignment of Designated Experts.  FCFS streams are fine.
Options are there:
  1) get OPSAWG to adopt this document.
  2) ask an AD to sponsor the document.
  3) not split the Registry as per above, use FCFS for it all.
  4) move the LinkType Registry to pcapng, send pcap via ISE as
     Informational (might get hung up waiting for pcapng, however, depending
     upon how we write the text, and whether or not it results in a MISREF)

I have no particular preference.


    &gt; And, as per my idea of using 65535 to mean &quot;custom linktype&quot;, similar
    &gt; to pcapng custom blocks and options, with either:

I'm happy with this proposal, but isn't it pcapng specific?
We can reserve 65535 itself for that use.


    &gt;&gt; I did some editing of the description field to shorten in a lot, but I got
    &gt;&gt; tired about 30% through the list, not sure if we should even include that
    &gt;&gt; column.
    &gt;&gt; There are many entries like:
    &gt;&gt; LINKTYPE_PPP_ETHER                  |   51   |PPPoE; per RFC 2516

    &gt; That one's there for NetBSD; I *think* the packet contains just a PPPoE
    &gt; header and payload.  I may have to dig into the NetBSD code to see what
    &gt; they do.

okay, but we don't have to get that perfect in the document.
What matters is that it points to /linktypes.html in the IANA registry.


--
Michael Richardson &lt;<A HREF="https://www.winpcap.org/mailman/listinfo/pcap-ng-format">mcr+IETF at sandelman.ca</A>&gt;   . o O ( IPv6 IøT consulting )
           Sandelman Software Works Inc, Ottawa and Worldwide




</PRE>



<!--endarticle-->
    <HR>
    <P><UL>
        <!--threads-->
	<LI>Previous message (by thread): <A HREF="000472.html">[pcap-ng-format] draft-gharris-opsawg-pcap.txt --- IANA considerations
</A></li>
	<LI>Next message (by thread): <A HREF="000483.html">[pcap-ng-format] [OPSAWG] draft-gharris-opsawg-pcap.txt --- IANA considerations
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#478">[ date ]</a>
              <a href="thread.html#478">[ thread ]</a>
              <a href="subject.html#478">[ subject ]</a>
              <a href="author.html#478">[ author ]</a>
         </LI>
       </UL>

<hr>
<a href="https://www.winpcap.org/mailman/listinfo/pcap-ng-format">More information about the pcap-ng-format
mailing list</a><br>
</body></html>
