<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
 <HEAD>
   <TITLE> [pcap-ng-format] draft-gharris-opsawg-pcap.txt --- IANA considerations
   </TITLE>
   <LINK REL="Index" HREF="index.html" >
   <LINK REL="made" HREF="mailto:pcap-ng-format%40winpcap.org?Subject=Re%3A%20%5Bpcap-ng-format%5D%20draft-gharris-opsawg-pcap.txt%20---%20IANA%0A%20considerations&In-Reply-To=%3CCAE40ED1-2052-4981-B2E7-022E639B590E%40sonic.net%3E">
   <META NAME="robots" CONTENT="index,nofollow">
   <style type="text/css">
       pre {
           white-space: pre-wrap;       /* css-2.1, curent FF, Opera, Safari */
           }
   </style>
   <META http-equiv="Content-Type" content="text/html; charset=utf-8">
   <LINK REL="Previous"  HREF="000482.html">
   <LINK REL="Next"  HREF="000477.html">
 </HEAD>
 <BODY BGCOLOR="#ffffff">
   <H1>[pcap-ng-format] draft-gharris-opsawg-pcap.txt --- IANA considerations</H1>
    <B>Guy Harris</B> 
    <A HREF="mailto:pcap-ng-format%40winpcap.org?Subject=Re%3A%20%5Bpcap-ng-format%5D%20draft-gharris-opsawg-pcap.txt%20---%20IANA%0A%20considerations&In-Reply-To=%3CCAE40ED1-2052-4981-B2E7-022E639B590E%40sonic.net%3E"
       TITLE="[pcap-ng-format] draft-gharris-opsawg-pcap.txt --- IANA considerations">gharris at sonic.net
       </A><BR>
    <I>Tue Dec 22 02:39:24 UTC 2020</I>
    <P><UL>
        <LI>Previous message (by thread): <A HREF="000482.html">[pcap-ng-format] [OPSAWG] draft-gharris-opsawg-pcap.txt ---	IANA considerations
</A></li>
        <LI>Next message (by thread): <A HREF="000477.html">[pcap-ng-format] [OPSAWG] draft-gharris-opsawg-pcap.txt --- FCS	length description
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#473">[ date ]</a>
              <a href="thread.html#473">[ thread ]</a>
              <a href="subject.html#473">[ subject ]</a>
              <a href="author.html#473">[ author ]</a>
         </LI>
       </UL>
    <HR>  
<!--beginarticle-->
<PRE>(Resent, from the correct address this time.)

On Dec 21, 2020, at 5:51 PM, Michael Richardson &lt;<A HREF="https://www.winpcap.org/mailman/listinfo/pcap-ng-format">mcr+ietf at sandelman.ca</A>&gt; wrote:

&gt;<i> The short of it is:
</I>&gt;<i> 
</I>&gt;<i> 1) reserve bits 16:28 of linktype as zero.
</I>
In pcap files, presumably; you have only bits 0:15 in pcapng IDBs.

Note that the registry is for both pcap and pcapng, so the specs should say that.

&gt;<i> 2) lower 32K Specification Required (any document),
</I>&gt;<i>  upper 32K First Come First Served
</I>&gt;<i> 
</I>&gt;<i> Details:
</I>&gt;<i> The Registry has three sections according to {{RFC8126}}:
</I>&gt;<i> * values from 0 to 32767 are marked as Specification Required.
</I>&gt;<i> *   except that values 147 to 162 are reserved for Private Use
</I>&gt;<i> * values from 32768 to 65000 are marked as First-Come First-Served.
</I>&gt;<i> * values from 65000 to 65536 are marked as Private Use.
</I>
Presumably &quot;to 65535&quot; - 65536 doesn't fit in the 16-bit pcapng field.

So, for FCFS, does that mean anybody who wants a linktype can just grab one?

And, as per my idea of using 65535 to mean &quot;custom linktype&quot;, similar to pcapng custom blocks and options, with either:

	the pcap file header/pcanng IDB option containing a Private Enterprise Number and private linktype number;

	the pcap file header/pcanng IDB option containing a Private Enterprise Number, with any linktype specifier being in the link-level header;

	the Private Enterprise Number and anything else being in the link-level header;

should we reserver 65535?

&gt;<i> I did some editing of the description field to shorten in a lot, but I got
</I>&gt;<i> tired about 30% through the list, not sure if we should even include that
</I>&gt;<i> column.
</I>&gt;<i> There are many entries like:
</I>&gt;<i>  LINKTYPE_PPP_ETHER                  |   51   |PPPoE; per RFC 2516
</I>
That one's there for NetBSD; I *think* the packet contains just a PPPoE header and payload.  I may have to dig into the NetBSD code to see what they do.
</PRE>









<!--endarticle-->
    <HR>
    <P><UL>
        <!--threads-->
	<LI>Previous message (by thread): <A HREF="000482.html">[pcap-ng-format] [OPSAWG] draft-gharris-opsawg-pcap.txt ---	IANA considerations
</A></li>
	<LI>Next message (by thread): <A HREF="000477.html">[pcap-ng-format] [OPSAWG] draft-gharris-opsawg-pcap.txt --- FCS	length description
</A></li>
         <LI> <B>Messages sorted by:</B> 
              <a href="date.html#473">[ date ]</a>
              <a href="thread.html#473">[ thread ]</a>
              <a href="subject.html#473">[ subject ]</a>
              <a href="author.html#473">[ author ]</a>
         </LI>
       </UL>

<hr>
<a href="https://www.winpcap.org/mailman/listinfo/pcap-ng-format">More information about the pcap-ng-format
mailing list</a><br>
</body></html>
