BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #434548; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	FONT-SIZE: 11px; COLOR: #434548; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UNKNOWN {
	TEXT-ALIGN: left
}
UNKNOWN {
	TEXT-ALIGN: center
}
UNKNOWN {
	TEXT-ALIGN: right
}
.headbg {
	BACKGROUND-COLOR: #e8d1cd
}
.headbgbox {
	BACKGROUND-COLOR: #e8d1cd
}
.loginbarbg {
	BACKGROUND-COLOR: #e8d1cd
}
.module_head {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #695f5d; BACKGROUND-COLOR: #e8d1cd
}
.oddrow {
	BACKGROUND-COLOR: #fefefe
}
.evenrow {
	BACKGROUND-COLOR: #efefef
}
.module_head_right {
	FONT-SIZE: 11px; COLOR: #9f8f8c; BACKGROUND-COLOR: #e8d1cd
}
.module_head_right A {
	FONT-SIZE: 11px; COLOR: #9f8f8c; BACKGROUND-COLOR: #e8d1cd
}
.module_head_right A:hover {
	FONT-SIZE: 11px; COLOR: #695f5d; BACKGROUND-COLOR: #e8d1cd
}
TD.edituserlink {
	FONT-WEIGHT: bold; COLOR: #695f5d; BACKGROUND-COLOR: #e8d1cd
}
TD.edituserlink A {
	FONT-WEIGHT: normal; COLOR: #695f5d; BACKGROUND-COLOR: #e8d1cd
}
TD.edituserlink A:hover {
	FONT-WEIGHT: normal; COLOR: #695f5d; BACKGROUND-COLOR: #e8d1cd
}
.text_head1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #9f8f8c
}
A.text_head1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #9f8f8c
}
A.text_head1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #9f8f8c
}
.text_head2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #9f8f8c
}
.text_head2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #9f8f8c
}
.offer_head {
	FONT-SIZE: 16pt; COLOR: #695f5d
}
.module_detail_inside {
	BORDER-RIGHT: #e8d1cd 1px solid; BORDER-TOP: #e8d1cd 1px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #e8d1cd 1px solid; BORDER-BOTTOM: #e8d1cd 1px solid; BACKGROUND-COLOR: #fff8f8
}
.im_text {
	BORDER-RIGHT: #e8d1cd 1px solid; BORDER-TOP: #e8d1cd 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #e8d1cd 1px solid; BORDER-BOTTOM: #e8d1cd 1px solid; BACKGROUND-COLOR: #fff8f8
}
.module_detail {
	BORDER-RIGHT: #e8d1cd 1px solid; BORDER-TOP: #e8d1cd 1px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #e8d1cd 1px solid; BORDER-BOTTOM: #e8d1cd 1px solid; BACKGROUND-COLOR: #fff8f8
}
.statusbar {
	BACKGROUND-COLOR: #f9e0dc
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #695f5d; BACKGROUND-COLOR: #ead9cf
}
TH A {
	COLOR: #695f5d; TEXT-DECORATION: underline
}
TH A:hover {
	COLOR: #695f5d; TEXT-DECORATION: none
}
A.subhead {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.subhead:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.smallpic {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
INPUT {
	FONT-SIZE: 11px
}
TEXTAREA {
	FONT-SIZE: 11px
}
SELECT {
	FONT-SIZE: 11px
}
.formbutton {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #cccccc 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #9f8f8c
}
.main_outer_table {
	BACKGROUND-COLOR: #ffffff
}
A.main_title {
	FONT-SIZE: 40px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.main_title:hover {
	FONT-SIZE: 40px; COLOR: #ffffff; TEXT-DECORATION: none
}
.dotted {
	BORDER-BOTTOM: 1px dashed
}
.s_table_blue {
	FONT-WEIGHT: bold; COLOR: #27277e
}
.s_table_white {
	COLOR: #27277e
}
.table_blue {
	COLOR: #27277e; BACKGROUND-COLOR: #d3e1fa
}
.table_white {
	COLOR: #27277e; BACKGROUND-COLOR: #ffffff
}
.table_green {
	COLOR: #003300; BACKGROUND-COLOR: #d8f9d5
}
.table_red {
	COLOR: #990000; BACKGROUND-COLOR: #ffd5d5
}
.table_pink {
	COLOR: #7d0067; BACKGROUND-COLOR: #ffe1ff
}
.table_gray {
	COLOR: #333333; BACKGROUND-COLOR: #efefef
}
.table_yellow {
	COLOR: #b08d00; BACKGROUND-COLOR: #ffffcc
}
.main_text1 {
	FONT-SIZE: 24px
}
.page_heading {
	BORDER-RIGHT: #a9bdf1 1px solid; BORDER-TOP: #a9bdf1 1px solid; FONT-SIZE: 14pt; BORDER-LEFT: #a9bdf1 1px solid; BORDER-BOTTOM: #a9bdf1 1px solid; BACKGROUND-COLOR: #dadada; TEXT-ALIGN: center
}
.headrow {
	BORDER-RIGHT: #a9bdf1 1px solid; BORDER-TOP: #a9bdf1 1px solid; BORDER-LEFT: #a9bdf1 1px solid; BORDER-BOTTOM: #a9bdf1 1px solid; BACKGROUND-COLOR: #c8e0fb; TEXT-ALIGN: center
}
.text8pt {
	FONT-SIZE: 8pt
}
.searchtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #003366
}
.xtitle {
	BORDER-RIGHT: #a9bdf1 1px solid; BORDER-TOP: #a9bdf1 1px solid; FONT-SIZE: 14pt; BORDER-LEFT: #a9bdf1 1px solid; BORDER-BOTTOM: #a9bdf1 1px solid; BACKGROUND-COLOR: #dadada; TEXT-ALIGN: center
}
.title {
	BORDER-RIGHT: #a9bdf1 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a9bdf1 1px solid; PADDING-LEFT: 11px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 4px; MARGIN-LEFT: 11px; BORDER-LEFT: #a9bdf1 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #a9bdf1 1px solid; BACKGROUND-COLOR: #dadada; TEXT-ALIGN: left
}
.subtitle {
	BORDER-RIGHT: #96b0f5 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #96b0f5 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #96b0f5 1px solid; COLOR: #003366; PADDING-TOP: 1px; BORDER-BOTTOM: #96b0f5 1px solid; BACKGROUND-COLOR: #d7e1ee
}
A {
	COLOR: #9f8f8c; TEXT-DECORATION: none
}
A:hover {
	COLOR: #695f5d; TEXT-DECORATION: underline
}
A.menulink {
	FONT-SIZE: 11px; COLOR: #ff66cc; TEXT-DECORATION: none
}
A.menulink:hover {
	FONT-SIZE: 11px; COLOR: #ff66cc; TEXT-DECORATION: none
}
A.panellink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #695f5d; TEXT-DECORATION: none
}
A.panellink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
.panelbox {
	
}
.footer {
	BORDER-RIGHT: #695f5d 1px; BORDER-TOP: #695f5d 1px solid; BORDER-LEFT: #695f5d 1px; BORDER-BOTTOM: #695f5d 1px solid; BACKGROUND-COLOR: #e8d1cd
}
A.footerlink {
	FONT-SIZE: 8pt; COLOR: #695f5d; TEXT-DECORATION: none
}
A.footerlink:hover {
	FONT-SIZE: 8pt; COLOR: #695f5d; TEXT-DECORATION: none
}
.copyright {
	FONT-SIZE: 11px; COLOR: #aaaaaa; TEXT-DECORATION: none
}
.paneltable {
	BACKGROUND-COLOR: #003366
}
.modulehead {
	COLOR: #003366
}
.storyhead {
	FONT-WEIGHT: bold; COLOR: #695f5d
}
.storydate {
	FONT-SIZE: 9px; COLOR: #695f5d; FONT-STYLE: italic
}
.storyby {
	COLOR: #695f5d
}
.storytext {
	
}
.newshead {
	FONT-WEIGHT: bold; COLOR: #695f5d
}
.newsdate {
	FONT-SIZE: 9px; FONT-STYLE: italic
}
.newstext {
	
}
.pollquestion {
	FONT-WEIGHT: bold; COLOR: #695f5d
}
.polloptions {
	
}
.payment_mod_head {
	FONT-SIZE: 11px; COLOR: #695f5d; BACKGROUND-COLOR: #f7a3f8
}
.admin_head {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #695f5d
}
H4 {
	FONT-SIZE: 12px
}
.copyright:hover {
	FONT-SIZE: 11px; COLOR: #0000ff; TEXT-DECORATION: underline
}
.headerfooter {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #695f5d; HEIGHT: 20px
}
.headerfooter:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #695f5d; HEIGHT: 20px
}
.headerfooter:hover {
	COLOR: #695f5d; TEXT-DECORATION: none
}
.nickwidth {
	MARGIN: 10px; WIDTH: 550px; TEXT-ALIGN: center
}